.table-view {
    -fx-background-color: transparent;
}
.root{
    -fx-background-color:#d9d9d9;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}


.table-view .column-header-background{
    -fx-background-color: #80bfff;
}

.table-view .column-header {
    -fx-background-color: transparent;

}





.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

